nav {
  background-color: #4056a1;
  height: 70px;
  width: 100%;
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav span {
  font-family: "Bungee", sans-serif;
}

.right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write-new {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}

#write {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.fa-solid.fa-angles-down {
  color: rgb(255, 255, 0);
  animation: jump 1.5s infinite;
  cursor: pointer;
}


@keyframes jump {
  50% {
    transform: translateY(5px);
  }
}

