.error-messages {
  width: 100%;
}

#error-exceed {
  background: transparent;
  color: #A30306;
  font-size: 0.8rem;
  padding: 10px;
  border: 3px solid #A30306;
  border-radius: 0;
  position: relative;
  display: none;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#error-empty {
  background: transparent;
  color: #A30306;
  font-size: 0.8rem;
  padding: 10px;
  border: 3px solid #A30306;
  border-radius: 0;
  position: relative;
  display: none;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#compose {
  display: flex;
  justify-content: space-between;
  width: 88vw;
  flex-direction: column;
}

.new-tweet {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.humming {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  margin-top: 20px;
}

#tweet-text {
  background-color: rgba(227, 227, 227, 0.2);
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-width: 3px;
  resize: none;
  font-size: 0.8em;
}

.button-counter {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: baseline;
}

#button-send {
  display: flex;
  justify-content: flex-start;
  background-color: #0597F0;
  font-family: "Bungee", sans-serif;
  color: white;
  border: 0px;
  padding: 3px 10px 3px 10px;
  cursor: pointer;
}

#button-send:hover {
  background-color: #0B6AA3;
}

.counter {
  display: flex;
  font-family: "Bungee", sans-serif;
}

.counter-negative {
  color: #A30306;
}
