.timeline {
  width: 100%;
}

article.tweet {
  border: 3px solid rgb(74, 74, 74);
  margin-top: 35px;
  margin-bottom: 38px;
}

article.tweet:hover {
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.1s;
}

article.tweet header {
  height: auto;
  background-image: none;
  background-color: transparent;
  width: 100%;
  margin-top: 0px;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.left-side {
  display: flex;
  align-items: center;
}

.mini-avatar {
  padding-right: 10px;
  width: 50px;
  height: auto;
}

.user {
  font-size: 0.9rem;
}

.handle {
  font-size: 0.9rem;
  color: rgb(84, 84, 84);
  font-weight: bold;
}

.timeline-tweet-text {
  background-color: rgba(227, 227, 227, 0.2);
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-width: 2px;
  resize: none;
  font-size: 0.85rem;
  margin-left: 2%;
  margin-right: 2%;
  align-items: flex-end;
  width: 96%;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#date {
  display: flex;
  font-size: 0.7rem;
  padding-left: 10px;
  padding-bottom: 10px;
}

#icons {
  display: flex;
  color: #4056a1;
  font-size: 0.7rem;
  padding-right: 10px;
  padding-bottom: 10px;
}

#icons i:hover {
  color: rgb(182, 182, 0);
}
